.App {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgb(66, 92, 90);
  min-height: 100vh;
}

.box {
  width: 97%;
  margin: 0 auto;
  max-width: 410px;
}

h1 {
  letter-spacing: .05rem;
  margin: 15px;
}
p {
  margin: 10px;
}

.App-header {
  text-align: center;
  background-color: rgba(0, 0, 0, .15);
  padding: 20px;
  color: white;
}

.reservationlist .top-text {
  padding: 15px 0 17px;
  position: relative;
}
.reservationlist .more-info {
  padding: 7px 0 7px;
}

.hidden-text {
  color: rgba(0, 0, 0, 0);
}

.reservationlist .bottom {
  transition: 300ms max-height;
  max-height: 126px;
  overflow: hidden;
  white-space: nowrap;
}

.reservationlist .bottom.hidden {
  margin: 0;
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  white-space: nowrap;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.reservationlist li {
  display: block;
  position: relative;
  cursor: pointer;
  animation: fadein .5s;
  padding: 7px;
}

.reservationlist li::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .03);
  opacity: 0;
  transition: opacity 300ms;
}

.reservationlist li:hover::before {
  opacity: 1;
}

.reservationlist li::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.16);
  background-color: rgba(249, 205, 161, 0.5);
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

ol {
  margin: 0;
  padding: 13px 10px;
}

ol li {
  margin:0;
  padding: 0;
  text-indent: 0;
}

.light-gray {
  color: rgba(255, 255, 255, 0.5);
}

.lightest-gray {
  color: rgba(255, 255, 255, 0.33);
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
